<div ng-controller="loginCtrl">
    <h1>welcome to todo</h1>
    <form id="login" ng-submit="verify()">
        <h2>login:</h2>
        <p>username:<input type='input' id='username' ng-model="username" placeholder="enter user name"/></p>
        <p>password:<input type='password' id='password' ng-model="password" placeholder="enter password"/></p>
        <button>login</button>
    </form>
    <form id='register' ng-submit='register()'>
        <h2>register:</h2>
        <p>username: <input type='input' id='regUsername' ng-model='regUsername' placeholder="enter user name"/></p>
        <p>password: <input type='password' id='regPassword' ng-model='regPassword' placeholder="enter password"/></p>
        <p>fullname: <input type='input' id='regFullname' ng-model='regFullname' placeholder="enter full name"/></p>
        <button>register</button>
    </form>
</div>


